<form>
  <div class="mb-3">
    <label for="email" class="form-label">Nombre Completo</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Pepito ... ... ... ..."
      #NombreCompleto
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Numero de Documento</label>
    <input
      type="text"
      class="form-control"
      id="password"
      placeholder="123456789"
      #NumeroDocumento
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Direccion</label>
    <input
      type="text"
      class="form-control"
      id="password"
      placeholder="65-6"
      #Direccion
    />
  </div>
  <div class="mb-3">
    <label class="form-label">PhoneNumber</label>
    <input
      type="text"
      class="form-control"
      id="password"
      placeholder="3201456985"
      #PhoneNumber
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input
      type="text"
      class="form-control"
      id="password"
      placeholder="...@gmail.com"
      #Email
    />
  </div>

  <div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="
        createContactData(
          NombreCompleto.value,
          NumeroDocumento.value,
          Direccion.value,
          PhoneNumber.value,
          Email.value
        )
      "
    >
      Crear
    </button>
  </div>
</form>
